<div id="page_wrapper">


  <div id="content">
    <h1>Flying Eye Drone</h1>
    <h2>Summary</h2>
    	<p class="indent">We started with a dream, a racing drone and a Raspberry pi. The idea was the connect the pieces and create a drone that could follow a person's cellphone... The scope of the project changed as we progressed.</p>
    <h2>Project</h2>
    	<p class="indent">This project started...</p>
    <h2>Technology</h2>
    	<p class="indent">We built it with stuff...</p>
  </div>
</div>